include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include isoft_customization *.css
recursive-include isoft_customization *.csv
recursive-include isoft_customization *.html
recursive-include isoft_customization *.ico
recursive-include isoft_customization *.js
recursive-include isoft_customization *.json
recursive-include isoft_customization *.md
recursive-include isoft_customization *.png
recursive-include isoft_customization *.py
recursive-include isoft_customization *.svg
recursive-include isoft_customization *.txt
recursive-exclude isoft_customization *.pyc
